.generic-content-container {
    p {
        line-height: 1.5;
        font-size: 0.95rem;

        @mixin atMedium {
            font-size: 1.02rem;
        }
    }
    p a{
        font-weight: 700;
    }
}